[Unit]
Description=App Description
After=build_app_name

[Service]
Type=simple
User=phoenix
Group=phoenix

WorkingDirectory=/var/app_name
ExecStartPre=/bin/sh -c -l "/usr/bin/elixir/bin/mix local.hex --force"
ExecStart=/bin/sh -c -l "/usr/bin/elixir/bin/elixir --name node@$(hostname -I) --cookie 123 -S /usr/bin/elixir/bin/mix phoenix.server"

[Install]
WantedBy=multi-user.target
