[Unit]
Description=App Description

[Service]
Type=simple

WorkingDirectory=/var/lap_tracker
ExecStart=/bin/sh -c -l "/usr/bin/bundle exec ruby app.rb -o 127.0.0.1 -e production -p 4567"

[Install]
WantedBy=multi-user.target
