<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>LapTracker</h1>
  <p>Because Someone is Watching you.</p>
</div>


<div class="container">
  <h2>LeaderBoard for the <%= @timeframe %></h2>
  <table class="table">
    <thead>
      <tr>
        <th>Rank</th>
        <th>First</th>
        <th>Last</th>
        <th>Laps</th>
      </tr>
    </thead>
    <tbody>
      <% @leaders.each do |l| %>
        <tr>
          <th>l['rank']</th>
          <td>l['first']</td>
          <td>l['last']</td>
          <td>l['laps']</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</body>
</html>
